@import url('reset.css');

.text {
	color: red;
	text-decoration-line: underline;
}

.sab-title,
.title {
	color: chartreuse;
}
.rel{
	color: gold;
	text-decoration-line: underline;
}
.link,.linko1,.linkow2,.linkowe3 {
	color: rgb(174, 0, 255);
}
p{
	color: blue;
}
.lessons > p {
	color: yellow;
}
h4 {
	color: chartreuse;
}
.tab{
	color: chocolate;
}
#some-id {
	color: darkorange;
}
.ol-class * {
	color: firebrick;
}
[class*="ere"]{
	color: green;
}
.block-footer  h5 {
	color:red ;
}
.line ~ p{
	color: magenta;
}
.appline + p{
	color: red;
}
