@import url("reset.css");
@import url(https://fonts.googleapis.com/css?family=Manrope:200,300,regular,500,600,700,800);
@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic);
@import url(https://fonts.googleapis.com/css?family=Epilogue:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
@import url(https://fonts.googleapis.com/css?family=DM+Sans:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
@import url(https://fonts.googleapis.com/css?family=Epilogue:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
@import url(https://fonts.googleapis.com/css?family=Lekton:regular,italic,700);
@import url(https://fonts.googleapis.com/css?family=Shantell+Sans:300,regular,500,600,700,800,300italic,italic,500italic,600italic,700italic,800italic);

.body {
  font-family: "Epilogue";
}

[class*="__container"] {
  max-width: 1200px;
  margin: 0 auto;
  padding-inline: 15px;
}
.footer {
  font-size: 50px;
  font-weight: 900;
  text-align: center;
  background-color: #fdf0e9;
  margin-top: 100px;
}

.header__button {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  align-items: center;
  gap: 30px;
  font-family: "Epilogue";
}

.button__header {
  font-weight: 900;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  border-radius: 6px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 18px 30px 16px 30px;
  max-width: 150px;
}
.button__header:hover {
  color: #000000;
  background-color: #fff;
  box-shadow: 1px 1px 9px 1px #fff;
  border-radius: 6px;
  transition: 0.3s;
}
.header__title {
  text-align: center;
  font-size: 40px;
  font-family: "Lekton";
  font-weight: 900;
  margin-bottom: 50px;
  color: #ef6d58;
}
.header__link {
  text-align: center;
  padding-bottom: 50px;
}
.header__text {
  font-size: 40px;
  font-family: "Lekton";
  font-weight: 900;
}
.wrapper {
  background-color: #28293e;
}

.main__wrap {
  margin: 0 auto;
  padding-bottom: 100px;
  font-family: "Epilogue";
}

.main__title {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: 100px;
}

.main__portfolio {
  font-size: 16px;
  line-height: 32px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #ef6d58;
  padding-bottom: 20px;
}

.main__text {
  font-size: 56px;
  font-weight: 800;
  line-height: 64px;
  /* 114.286% */
  letter-spacing: -1px;
  color: #fff;
  padding-bottom: 44px;
}

.main__column {
  color: rgba(255, 255, 255, 0.64);
  font-size: 16px;
  line-height: 32px;
}

.main__column:nth-child(1) {
  color: #fff;
}

.main__title sup {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.64);
}

.main__column-body {
  display: flex;
  flex-wrap: wrap;
  column-gap: 55px;
}

.main__portfolio__body {
  padding-bottom: 50px;
}
.portfolio__text:hover {
  text-decoration: underline;
}
.portfolio__body-main {
  display: flex;
  flex-wrap: wrap;
  row-gap: 32px;
  column-gap: 30px;
  justify-content: center;
  padding-bottom: 50px;
}
.portfolio__column:nth-child(3n + 1) {
  flex: 1 1 39%;
}
.portfolio__column:nth-child(3n + 2) {
  flex: 1 1 55%;
}
.portfolio__column:nth-child(3n + 3) {
  flex: 1 1 55%;
}
.portfolio__column:nth-child(3n + 4) {
  flex: 1 1 39%;
}
.portfolio__column {
  position: relative;
  padding-top: 0;
  padding: 30px;
  min-height: 416px;
  border-radius: 6px;
  transition: all 0.5s;
  overflow: hidden;
  flex-basis: 470px;
  display: flex;
  flex-direction: column;
  justify-content: end;
}
.portfolio__column:nth-child(4n + 2) {
  flex-basis: 670px;
}
.portfolio__column:nth-child(4n + 3) {
  flex-basis: 670px;
}
.portfolio__img {
  transition: all 1s;
}
.portfolio__column::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(92, 32, 0, 1);
  opacity: 0.3181;
  z-index: 3;
}
.portfolio__img img {
  left: 0;
  top: 0;
  position: absolute;
  height: 100%;
  width: 100%;
  transition: 0.4s;
}
.portfolio__column:hover .portfolio__text {
  text-decoration: underline;
  text-shadow: 0px 0px 5px #5c2000;
}
.portfolio__img:hover img {
  transform: scale(1.1);
}
.portfolio__title {
  font-size: 16px;
  background-color: #fff;
  border-radius: 19px;
  padding: 5px 15px 2px 15px;
  line-height: 32px;
  color: #391400;
  transition: border, 0.2s;
  border: 1px solid #fff;
  display: inline-block;
  margin-bottom: 15px;
}

.portfolio__title:hover {
  border: 1px solid rgba(57, 20, 0, 1);
  box-shadow: 1px 1px 9px 1px rgba(255, 255, 255, 0.5);
}

.portfolio__text {
  font-weight: 800;
  line-height: 48px;
  font-size: 40px;
  color: #fff;
}
.portfolio__card {
  z-index: 4;
  position: relative;
}
.button a:hover {
  color: #000000;
  background-color: #fff;
  box-shadow: 1px 1px 9px 1px #fff;
  border-radius: 6px;
  transition: 0.3s;
}
.button a {
  font-weight: 900;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  border-radius: 6px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 18px 30px 16px 30px;
}
.get-started__body {
  background-color: #fdf0e9;
  border-radius: 6px;
  position: relative;
  padding: 0 83px 0px 100px;
  border-radius: 6px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  column-gap: 38px;
}
.main__get-started {
  padding-block: 92px 70px;
}

.get-started__column {
  padding-block: 92px 64px;
  flex-basis: 248px;
  flex-shrink: 1;
  flex-grow: 1;
  max-width: 248px;
}
.main__select-body {
  display: none;
}
.button {
  text-align: center;
}

@media (max-width: 1215.98px) {
  .main__portfolio__body {
    gap: 32px 20px;
  }
  .portfolio__column:nth-child(4n + 1) {
    flex: 0 0 40%;
    aspect-ratio: 470 / 416;
  }
  .portfolio__column:nth-child(4n + 2) {
    flex: 1 0 30%;
    aspect-ratio: 670 / 416;
  }
  .portfolio__column:nth-child(4n + 3) {
    flex: 1 0 30%;
    aspect-ratio: 670 / 416;
  }
  .portfolio__column:nth-child(4n + 4) {
    flex: 0 0 40%;
    aspect-ratio: 470 / 416;
  }
  .main__portfolio__body {
    gap: 32px 20px;
  }
}
@media (max-width: 710.98px) {
  .portfolio__body {
    gap: 15px;
  }
  .portfolio__column:nth-child(4n + 1) {
    flex: 0 0 70%;
    aspect-ratio: 470 / 216;
  }
  .portfolio__body {
    gap: 15px;
  }
  .portfolio__column:nth-child(4n + 2) {
    flex: 0 0 70%;
    aspect-ratio: 470 / 216;
  }
  .portfolio__column:nth-child(4n + 3) {
    flex: 0 0 70%;
    aspect-ratio: 470 / 216;
  }
  .portfolio__column:nth-child(4n + 4) {
    flex: 0 0 70%;
    aspect-ratio: 470 / 216;
  }
}
@media (max-width: 632.98px) {
  .main__column-body {
    column-gap: 25px;
  }
}
@media (max-width: 530.98px) {
  .main__select-body {
    width: 100%;
    line-height: 2;
    display: block;
    padding: 8px 21px 7px 16px;
    min-height: 48px;
    border-radius: 6px;
  }
  .main__select-body {
    display: none;
  }
  .main__option-portfolio {
    padding: 10px;
    font-size: 16px;
    line-height: 2;
  }
  .main__text {
    font-size: 36px;
  }
  .main__select-body {
    width: 100%;
    line-height: 2;
    display: block;
    padding: 8px 21px 7px 16px;
    min-height: 48px;
    border-radius: 6px;
  }
  .main__column-body {
    display: none;
  }
  .portfolio__column:nth-child(4n + 1) {
    flex: 0 1 100%;
    aspect-ratio: 420 / 316;
  }
  .portfolio__column:nth-child(4n + 2) {
    flex: 0 1 100%;
    aspect-ratio: 420 / 316;
  }
  .portfolio__column:nth-child(4n + 3) {
    flex: 0 1 100%;
    aspect-ratio: 420 / 316;
  }
  .portfolio__column:nth-child(4n + 4) {
    flex: 0 1 100%;
    aspect-ratio: 420 / 316;
  }
  .header__button {
    gap: 30px;
  }
  .button-header {
    padding: 12px 15px 8px 15px;
  }
}
