@import url("reset.css");
@import url(https://fonts.googleapis.com/css?family=Manrope:200,300,regular,500,600,700,800);
@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic);
@import url(https://fonts.googleapis.com/css?family=Epilogue:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
@import url(https://fonts.googleapis.com/css?family=DM+Sans:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
@import url(https://fonts.googleapis.com/css?family=Epilogue:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
@import url(https://fonts.googleapis.com/css?family=Lekton:regular,italic,700);
@import url(https://fonts.googleapis.com/css?family=Shantell+Sans:300,regular,500,600,700,800,300italic,italic,500italic,600italic,700italic,800italic);

.body {
  font-family: "Epilogue";
}

[class*="__container"] {
  max-width: 1200px;
  margin: 0 auto;
  padding-inline: 15px;
}
.wrapper > main {
  flex-grow: 1;
}
.footer {
  font-size: 50px;
  font-weight: 900;
  text-align: center;
  background-color: #fdf0e9;
  margin-top: 100px;
}
.wrapper {
  background-color: #fdf0e9;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow: clip;
}
.main__wrap {
  margin: 0 auto;
  padding-bottom: 100px;
  font-family: "Epilogue";
}

.header__title {
  text-align: center;
  font-size: 40px;
  font-family: "Lekton";
  font-weight: 900;
  margin-bottom: 50px;
  color: #ef6d58;
}

.button__header {
  font-weight: 900;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  border-radius: 6px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 18px 30px 16px 30px;
  max-width: 150px;
  background-color: #28293e;
}
.button__header:hover {
  color: #000000;
  box-shadow: 1px 1px 9px 1px #fff;
  border-radius: 6px;
  transition: 0.3s;
  background-color: #ef6d58;
}
.header__button {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(2, 140px);
  justify-items: center;
  margin-bottom: 50px;
  gap: 30px;
  font-family: "Epilogue";
}
.main__page {
  font-family: "Epilogue", sans-serif;
  padding-block-start: 76px;
  padding-block-end: 50px;
  background-color: #fdf0e9;
}
.main__column-body {
  display: flex;
  flex-wrap: wrap;
  column-gap: 55px;
  justify-content: center;
}
.main__column {
  color: #391400;
  font-size: 16px;
  line-height: 32px;
}

.main__select-body {
  display: none;
}
.main__body {
  padding-bottom: 100px;
}
.portfolio__column {
  border-radius: 6px;
  overflow: hidden;
  position: relative;
}
.portfolio__column::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  opacity: 0.3181;
  background: #5c2000;
}
.portfolio__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 6px;
}
.portfolio__column:hover .portfolio__img {
  transform: scale(1.1);
}
.portfolio__img {
  width: 100%;
  height: 100%;
  transition: all 1s;
}
.portfolio__title {
  color: #391400;
  line-height: 2;
  border-radius: 19px;
  background: #fff;
  padding: 5px 15px;
  width: fit-content;
  text-transform: capitalize;
}
.portfolio__text {
  color: #fff;
  font-size: 40px;
  font-weight: 800;
  line-height: 120%;
  text-transform: capitalize;
}
.portfolio__card {
  display: flex;
  flex-direction: column;
  position: absolute;
  align-items: flex-start;
  transform: translatey(-100%);
  row-gap: 24px;
  padding-inline: 48px;
  padding-block-end: 51px;
  z-index: 4;
}
.portfolio__title:hover {
  border: 1px solid rgba(57, 20, 0, 1);
  box-shadow: 1px 1px 9px 1px rgba(255, 255, 255, 0.5);
}
.main__portfolio-body {
  display: grid;
  grid-auto-rows: 416px;
  width: 100%;
  gap: 30px;
  padding-block-end: 80px;
}
.portfolio__column:hover .portfolio__text {
  text-decoration: underline;
  text-shadow: 0px 0px 5px #5c2000;
}
.main__button-list {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(5, 48px);
  justify-items: center;
  gap: 30px;
  font-family: "Epilogue";

  align-items: center;
}
.button__list {
  border-radius: 6px;
  background: #fff;
  text-align: center;
  width: 48px;
  height: 48px;
  color: #391400;
  font-size: 14px;
  font-weight: 900;
  text-transform: uppercase;
  align-content: center;
}
.button__list-active {
  background-color: #ef6d58;
}
.button__list:hover {
  background-color: #ef6d58;
}
@media (min-width: 570px) {
  .portfolio__body {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 720px;
  }
  .portfolio__column:nth-child(5n + 1) {
    grid-column: span 2;
  }
}
@media (max-width: 650px) {
  .main__column-body {
    display: none;
  }
  .main__select-body {
    width: 100%;
    line-height: 2;
    display: block;
    padding: 8px 21px 7px 16px;
    min-height: 48px;
    border-radius: 6px;
  }
}
@media (max-width: 408px) {
  .main__button-list {
    grid-template-columns: repeat(5, 25px);
  }
  .header__button{
    gap: 10px;
    grid-template-columns: repeat(2, 130px);

  }
}
