@import url("reset.css");
@import url(https://fonts.googleapis.com/css?family=Manrope:200,300,regular,500,600,700,800);
@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic);
@import url(https://fonts.googleapis.com/css?family=Epilogue:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
@import url(https://fonts.googleapis.com/css?family=DM+Sans:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
@import url(https://fonts.googleapis.com/css?family=Epilogue:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
@import url(https://fonts.googleapis.com/css?family=Lekton:regular,italic,700);
@import url(https://fonts.googleapis.com/css?family=Shantell+Sans:300,regular,500,600,700,800,300italic,italic,500italic,600italic,700italic,800italic);

.body {
  font-family: "Epilogue";
}

[class*="__container"] {
  max-width: 1200px;
  margin: 0 auto;
  padding-inline: 15px;
}
.wrapper > main {
  flex-grow: 1;
}
.footer {
  font-size: 50px;
  font-weight: 900;
  text-align: center;
  background-color: #fdf0e9;
  margin-top: 100px;
}
.wrapper {
  background-color: #28293e;
}

.main__wrap {
  margin: 0 auto;
  padding-bottom: 100px;
  font-family: "Epilogue";
}
.main__title {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: 100px;
}
.header__button {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(2, 140px);
  justify-items: center;
  margin-bottom: 50px;
  gap: 30px;
  font-family: "Epilogue";
 
}

.button__header {
  font-weight: 900;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  border-radius: 6px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 18px 30px 16px 30px;
  max-width: 150px;
}
.button__header:hover {
  color: #000000;
  background-color: #fff;
  box-shadow: 1px 1px 9px 1px #fff;
  border-radius: 6px;
  transition: 0.3s;
}
.header__title {
  text-align: center;
  font-size: 40px;
  font-family: "Lekton";
  font-weight: 900;
  margin-bottom: 50px;
  color: #ef6d58;
}

.main__portfolio {
  font-size: 16px;
  line-height: 32px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #ef6d58;
  padding-bottom: 20px;
}
.main__text {
  font-size: 56px;
  font-weight: 800;
  line-height: 64px;
  letter-spacing: -1px;
  color: #fff;
  padding-bottom: 44px;
}
.main__title {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: 100px;
}
.main__column:nth-child(1) {
  color: #fff;
}
.main__select-body {
  display: none;
}
.main__column {
  color: rgba(255, 255, 255, 0.64);
  font-size: 16px;
  line-height: 32px;
}
.main__column-body {
  display: grid;
  grid-template-columns: repeat(5, 78px);
  column-gap: 55px;
}

.main__portfolio-body {
  display: grid;
  grid-auto-rows: 416px;
  justify-content: center;
  gap: 32px 30px;
  margin-bottom: 50px;
}
.portfolio__column {
  border-radius: 6px;
  overflow: hidden;
  position: relative;
}
.portfolio__column::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  opacity: 0.3181;
  background: #5c2000;
}
.portfolio__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 6px;
}
.portfolio__column:hover .portfolio__img {
  transform: scale(1.1);
}
.portfolio__img {
  width: 100%;
  height: 100%;
  transition: all 1s;
}
.portfolio__title {
  color: #391400;
  line-height: 2;
  border-radius: 19px;
  background: #fff;
  padding: 5px 15px;
  width: fit-content;
  text-transform: capitalize;
}
.portfolio__text {
  color: #fff;
  font-size: 40px;
  font-weight: 800;
  line-height: 120%;
  text-transform: capitalize;
}
.portfolio__card {
  display: flex;
  flex-direction: column;
  position: absolute;
  align-items: flex-start;
  transform: translatey(-100%);
  row-gap: 24px;
  padding-inline: 48px;
  padding-block-end: 51px;
  z-index: 4;
}
.portfolio__title:hover {
  border: 1px solid rgba(57, 20, 0, 1);
  box-shadow: 1px 1px 9px 1px rgba(255, 255, 255, 0.5);
}
.button {
  text-align: center;
}
.button a {
  font-weight: 900;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  border-radius: 6px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 18px 30px 16px 30px;
}
.button a:hover {
  color: #000000;
  background-color: #fff;
  box-shadow: 1px 1px 9px 1px #fff;
  border-radius: 6px;
  transition: 0.3s;
}
.portfolio__column:hover .portfolio__text {
  text-decoration: underline;
  text-shadow: 0px 0px 5px #5c2000;
}
@media (max-width: 950px) {
  .main__portfolio-body {
    gap: 15px;
  }
}
@media (max-width: 706.98px) {
  .main__column-body {
    column-gap: 25px;
  }
}
@media (max-width: 540.98px) {
  .main__column-body {
    display: none;
  }
  .main__select-body {
    width: 100%;
    line-height: 2;
    display: block;
    padding: 8px 21px 7px 16px;
    min-height: 48px;
    border-radius: 6px;
  }
  .main__text {
    font-size: 36px;
    text-align: center;
  }
}
@media (max-width: 770px) {
  .main__portfolio-body {
    grid-auto-rows: 320px;
  }
}

@media (min-width: 771px) {
  .main__portfolio-body {
    grid-template-columns: minmax(200px, 470px) minmax(0, 170px) minmax(
        200px,
        470px
      );
  }
  .portfolio__column:nth-child(4n + 2) {
    grid-column: span 2;
  }
  .portfolio__column:nth-child(4n + 3) {
    grid-column: span 2;
  }
}
