/* Підключення через F1 */
@import url(https://fonts.googleapis.com/css?family=Judson:regular,italic,700);

@import url('https://fonts.googleapis.com/css2?family=Manrope&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@700&display=swap');


/* Для блоків макетів */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,500;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,600;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz@0,9..40;1,9..40&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,500;1,9..40,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,700;1,9..40,700&display=swap');

/* Підключення через файли */
@import url("fonts.css");





@import url(reset.css);
/* body{
	font-family: "Manrope";
} */
h1{
	color: brown ;
	text-align: center;
	font-family: "Gilroy";
	font-size: 40px;
	font-style: italic;
}
.topic-0,.topic-1,.topic-2{
	color: rgb(255, 0, 0);
	font-size: 30px;
}
.text,.text-1{
	color: chocolate;
	text-align: right;
	font-family: "Manrope";
	font-weight: 500;
	font-size: 40px;
	font-style: normal;
}
.number{
	color: magenta;
	font-family: "Roboto";
	font-weight: 500;
	font-size: 30px;
	font-style: normal;
}
.text-2{
	color: tomato;
	font-family: "Manrope";
	text-align: justify ;
	font-weight: 700;
	font-size: 30px;
	font-style: normal;
}
.fonts{
	color: rgb(255, 217, 0);
  text-decoration: underline;
	font-size: 28px;
}
h2{
	color: red;
	font-family: "Manrope";
	text-align: center;
	font-size: 40px;
	font-style: normal;
	font-weight: 700;
}
.text-only-0,.text-only-1,.text-only-2,.text-only-3,.text-only-4{
	color: blue;
	font-family: "Roboto";
	font-size: 30px;
	font-weight: 500;
	font-style: normal;
}
.text-3{
	font-family: Judson;
	color: black;
	font-size: 15px;
	font-weight: 500;
	font-style: italic;
}
.under-text{
	color: #091133;
font-family: Roboto;
font-weight: 500;
font-style: normal;
font-size: 50px;
letter-spacing: 1;
line-height: 65px;
}
.text-line{
	color: #091133;
	font-family: Roboto;
	font-size: 18px;
	font-weight: 400;
	font-style: normal;
	line-height: 30px;
}
.about{
	color: #1E1B39;
	font-family: Dm Sans;
	font-size: 88px;
	font-weight: 700;
	line-height: 95px;
	font-style: normal;
}
.about-0{
	color: #474464;
	font-family: Dm Sans;
	font-style: normal;
	font-size: 24px;
	line-height: 42px;
}
.about-1{
	color: #474464;
	font-family: Dm Sans;
	font-style: normal;
	font-size: 24px;
	line-height: 42px;
}
.under{
	color: #132238;
	font-family: Work Sans;
	font-style: normal;
	font-size: 39px;
	font-weight: 600;
	line-height: 50px;
}
.under-0{
	font-family: Work Sans;
	font-weight: 400;
	font-size: 18px;
	font-style: normal;
	line-height: 24px;
}
.under-1{
	font-family: Work Sans;
	font-weight: 400;
	font-size: 18px;
	font-style: normal;
	line-height: 24px;
}